{%- set orderId = record.getValue('orderId') -%}
<div class="order-info">
    {%- if orderId is not empty -%}
        <a href="{{ path('oro_order_frontend_view', {id: record.getValue('orderId')}) }}">
            {{- 'tab.frontend.shoppinglist.order.link.label'|trans({'%id%':record.getValue('identifier') }) -}}
        </a>
    {%- else -%}
        --
    {%- endif -%}
</div>