{% block title_with_count_widget %}
    {{ block_widget(block) }}
    <span data-page-component-view="tabfrontend/js/app/views/items-counter-view"
          class="category-title--counter"></span>
{%- endblock %}